            <!-- About Area Start -->
            <section class="about-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 mb-res-sm-50px">
                            <div class="about-left-image">
                                <img src="assets/images/feature-bg/3.jpg" alt="" class="img-responsive" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-content">
                                <div class="about-title">
                                    <h2>GIỚI THIỆU
                                    </h2>
                                </div>
                                <p class="mb-30px">
                                    Công ty Cổ phần Đầu tư Thế Giới Di Động (MWG) là nhà bán lẻ số 1 Việt Nam về doanh thu và lợi nhuận, với mạng lưới hơn 3.400 cửa hàng trên toàn quốc. MWG vận hành các chuỗi bán lẻ thegioididong.com, Điện Máy Xanh, Bách Hoá Xanh. Ngoài ra, MWG đã mở rộng ra thị trường nước ngoài với chuỗi bán lẻ điện thoại và điện máy tại Campuchia.
                                </p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row mt-60px">
                        <div class="col-md-4 mb-res-sm-30px">
                            <div class="single-about">
                                <h4>HÌNH ẢNH & CON SỐ ẤN TƯỢNG</h4>
                                <p>
                                    <li> 15 năm hoạt động</li>
                                    <li> Khoảng 1.000 siêu thị thegioididong.com tại 63 tỉnh/thành. Xem chi tiết</li>
                                    <li> Hơn 1.000 siêu thị ĐIỆN MÁY XANH tại 63 tỉnh/thành. Xem chi tiết</li>
                                    <li> Hơn 1.400 siêu thị BÁCH HOÁ XANH tại các tỉnh Miền Nam và Nam Trung Bộ.</li> 
                                    <li> Doanh thu thuần 2019: 102.174 tỷ đồng</li>
                                    <li> Lợi nhuận sau thuế 2019: 3.836 tỷ đồng</li>
                                    <li> Kế hoạch doanh thu 2020: 110.000 tỷ đồng</li>
                                    <li> Kế hoạch LNST 2020: 3.450 tỷ đồng</li>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-res-sm-30px">
                            <div class="single-about">
                                <h4>Thanh toán sau khi nhận hàng</h4>
                                <p>
                                    Bước 1: Khách hàng đặt hàng; cung cấp thông tin đầy đủ, xác thực<br>
Bước 2: 1999Sneaker xác thực đơn hàng<br>
Bước 3: 1999Sneaker xác nhận thông tin khách hàng (điện thoại, tin nhắn, email)<br>
Bước 4: 1999Sneaker chuyển hàng<br>
Bước 5: Khách hàng nhận hàng và thanh toán<br>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="single-about">
                                <h4>Đổi trả</h4>
                                <p>
                                    Trong mọi trường hợp, khách hàng đều có quyền chấm dứt giao dịch nếu đã thực hiện các biện pháp sau đây:

Thông báo cho 1999Sneaker về việc hủy giao dịch qua đường dây nóng MB: 0387678843; MN: 0988893761
Trả lại hàng hoá đã nhận nhưng chưa sử dụng hoặc chưa hưởng bất kỳ lợi ích nào từ hàng hóa đó (theo quy định của chính sách đổi trả hàng 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- About Area End -->
